{% extends "base.html" %}
{% block content %}
<h2>Створити турнір + перше завдання</h2>
<form action="/tournaments" method="post" class="form-grid">
  <label>Title <input name="title" required /></label>
  <label>Description <textarea name="description" required></textarea></label>
  <label>Rules <textarea name="rules"></textarea></label>
  <label>Start At ISO <input name="start_at" value="2026-01-01T10:00:00" required/></label>
  <label>Reg open ISO <input name="registration_open_at" value="2025-12-01T10:00:00" required/></label>
  <label>Reg close ISO <input name="registration_close_at" value="2025-12-25T10:00:00" required/></label>
  <label>Max teams <input name="max_teams" type="number"/></label>
  <label>Team member limit <input name="team_member_limit" type="number" value="6"/></label>

  <label>Round title <input name="round_title" required/></label>
  <label>Round description <textarea name="round_description" required></textarea></label>
  <label>Tech req <textarea name="tech_requirements" required></textarea></label>
  <label>Must have CSV <input name="must_have_csv" required/></label>
  <label>Round start ISO <input name="round_starts_at" value="2026-01-01T11:00:00" required/></label>
  <label>Round deadline ISO <input name="round_deadline_at" value="2026-01-10T23:59:00" required/></label>
  <label>Extra materials <input name="extra_materials"/></label>

  <button type="submit">Create</button>
</form>
{% endblock %}
